@font-face {
    font-family: "Rockwell";
    src: url('../fonts/ROCK.TTF');
}

html, body {
    font-family: "Rockwel";

}
.container{
    width: 120 0px;
    height: auto;
    border: 1px solid #000;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: #C10101;

    display: flex;
    justify-content: space-between;

}

.brand {
    margin-left: 10px;
}

.nav-left{
    display: flex;
}


.menu {
    margin-left: 20px;
    display: flex;
}

.navitem a, .nav-right ul li a {
    display: block;
    padding: 17px;
    color: #FFF;
    text-decoration: none;
}

.nav-right ul {
    display: flex;
}

.header{
    width: 100%;
    height: 550px;
    background: url('../img/banner.jpg')no-repeat;
    background-size: 100%;
}

.redopacity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background-color: rgba(193,1,1,0.66);
    color: #fff;

}

.redopacity h1{
    font-size: 2.5rem;
    margin-bottom: 10px;

}

.redopacity h2 {
    font-size: 2rem;
    margin-bottom: 30px;

}

.desc{
    font-size: 1.3rem;
    text-align: center;

}

.btn-default{
    display: block;
    color: #c10101;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 5px;
    margin: 30px 0px;
    text-decoration: none;
    font-weight: bold;
    transition: all ease 200ms;

}

.btn-default :hover{
    background: #c10101;
    color: #fff;
}

.conocercomo{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.arrow{
    color: #fff;
    font-size: 2.2rem;
}

.title-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;

}

.title-section h1{
    font-size: 2rem;
}

.title-section hr{
    border-top: thin solid red;
    width: 100%;
    margin-top: 20px;
}
.seleccion{
    display: flex;
    justify-content: space-around;
}

.seleccion-item{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #c10101;
}

.seleccion-item h3{
    margin: 10px auto;
    font-size: 1.2rem;
    font-weight: bold;
}

.seleccion-item p{
    margin: 0;
    padding: 0;
    white-space: pre;
    text-align: center;
    line-height: 1.1rem;
}

.produccion{
    display: flex;
    justify-content: space-around;
}

.produccion-item{
    width: 25%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(209,209,209);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0,0,0, 0.2);
}

.produccion-item img{
    width: 100%;
   
}

.produccion-item p{
    margin: 20px 0px;
    color: #7B7B7B;
    width: 100%;

}

.produccion-item a{
    color: #c10101;
    text-decoration: none;
}
.testimonios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.testimonio-item{
    display: flex;
    position: relative;
    width: 27%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(209,209,209);
    border-radius: 8px;
    box-shadow: 0px 3px 6px;
    padding: 10px 10px;
    margin-bottom: 30px;
}

.testimonio-item img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50px
}

.testimonio-item h1{
    color: #c10101;
    font-size: 1.3rem;
}

.testimonio-item p{
    color: #7b7b7b;
}

.stars {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #c10101;
}

.footer{
    display: flex;
    background: #c10101;
    color: #fff;
    padding: 20px;
    justify-content: center;

}

.menu-movil, .btn-menu-movil{
    display: none;
}

.show {
    display: block !important;
}

@media screen and (max-width:428px) {
    .menu, .nav-right{
        display: none;
    }

    .menu-movil{
        width: 100%;
        position: absolute;
        top: 50px;
    }

    .menu-movil li{
        background-color: #c10101;

    }

    .menu-movil li a {
        text-align: center;
    }
    
    .btn-menu-movil{
        display: block;
        background: none;
        border: none;
        padding: 10px;
        font-size: 1.3rem;
        color: #FFF;
    }

    .header{
        display: flex;
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;

    }

    .redopacity{
        height: 100vh;

    }

    .redopacity h1{
        font-size: 1.7rem;
    }

    .redopacity h2{
        font-size: 1.3rem;

    }

    .desc {
        font-size: 1rem;
    }

    .btn-default{
        padding: 15px;
        font-size: 1rem;
    }

    .conocercomo {
        font-size: 1rem;
    }
    .seleccion, .produccion, .testimonios{
        flex-direction: column;
        align-items: center;

    }
    .seleccion-item{
        margin-bottom: 20px;

    }

    .produccion-item, .testimonio-item{
        width: 80%;
        margin-bottom: 20px;
    }
}